[Desktop Entry]
Encoding=UTF-8
Name=Genius Math Tool
Name[ca]=Eina matemàtica Genius
Name[cs]=Matematický nástroj Genius
Name[es]=Herramienta Matemática Genius
Name[hi]=जीनियस गणित औजार
Name[mk]=Genius Математичка Алатка
Name[nl]=Genius wiskunde programma
Name[pt]=Ferramenta Matemática Genius
Name[sr]=Математички алат Геније
Name[sr@Latn]=Matematički alat Genije
Name[sv]=Matteverktyget Genius
Name[zh_CN]=Genius 数学工具
Comment=Genius Mathematical Tool and Calculator
Comment[ca]=Calculadora i eina matemàtica Genius
Comment[cs]=Matematický nástroj a kalkulátor Genius
Comment[es]=Genius, la herramienta matemática y calculadora
Comment[hi]=जीनियस गणित औजार और गणक
Comment[mk]=Genius Математичка Алатка и Калкулатор
Comment[nl]=Genius wiskunde tool en calculator
Comment[pt]=Ferramenta Matemática e Calculadora Genius
Comment[sr]=Математички алат и калкулатор Геније
Comment[sr@Latn]=Matematički alat i kalkulator Genije
Comment[sv]=Matematikverktyget och miniräknaren Genius
Comment[zh_CN]=Genius 数学工具和计算器
Type=Application
Exec=gnome-genius
Icon=gnome-calc2.png
Terminal=false
Categories=Application;GNOME;Scientific;Math;Office;
