[Desktop Entry]
Encoding=UTF-8
Name=Genius Math Tool
Name[cs]=Matematický nástroj Genius
Comment=Genius Mathematical Tool and Calculator
Comment[cs]=Matematický nástroj a kalkulátor Genius
Type=Application
Exec=gnome-genius
Icon=gnome-calc2.png
Terminal=false
Categories=Application;GNOME;Scientific;Math;
